#thisclick
{color: green; border-radius: 25px;background-color: red;
  border: 0px;
  overflow: hidden;
  width: 150px;
  font-size: 19px;
  height: 30px;
}

hr{

  width: 600px;
  margin-left:0px;
}
